<form id="formUsers" class="hidden">
	<div>
		<div class="row">
			<div class="col-6" id="users_nome">Nome</div>
			<div class="col-6" id="users_cpfcnpj">CPF/CNPJ</div>
		</div>
		<div class="row">
			<div class="col-4" id="users_fones">Telefones</div>
			<div class="col-8" id="users_emails">E-mails</div>
		</div>
		<div class="row">
			<div class="col-6" id="users_salario">Salário</div>
			<div class="col-6" id="users_idTipo">Tipo</div>
		</div>
		<div class="row">
			<div class="col-6" id="users_tags">Palavras-chave</div>
			<div class="col-3" id="users_cep">CEP</div>
			<div class="col-3" id="users_dtNasc">Dt. nasc.</div>
		</div>
		<div class="row">
			<div class="col-4" id="users_user">Nome de usuário</div>
			<div class="col-4" id="users_pass">Senha de acesso</div>
			<div class="col-4" id="users_ativo">Ativo?</div>
		</div>
	</div>
</form>