button.R4 {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	border: none;
	border-radius: 2px;
	padding: 0 16px;
	min-width: 46px;
	height: 36px;
	margin: 3px;
	vertical-align: middle;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: uppercase;
	color: white;
	background-color: #616161;
	box-shadow: 0 2px 2px 0 #D7D7D7, 0 3px 1px -2px #C8C8C8, 0 1px 5px 0 #DCDCDC;
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	transition: box-shadow 0.2s;
}

button.R4::-moz-focus-inner {
	border: none;
}

button.R4.flat {
	box-shadow: none;
	transition: none;
}

/* Overlay */
button.R4::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(255, 255, 255);
	opacity: 0;
	transition: opacity 0.2s;
}

/* Ripple */
button.R4::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	padding: 50%;
	width: 32px; /* Safari */
	height: 32px; /* Safari */
	background-color: rgb(255, 255, 255);
	opacity: 0;
	transform: translate(-50%, -50%) scale(1);
	transition: opacity 1s, transform 0.2s;
}

button.R4.bgWhite::after {
	background-color: gray;
}

/* Hover, Focus */
button.R4:focus:not(.flat):not([disabled]) {
	box-shadow: 0 1px 10px 0 #7D7D7D;
}

button.R4:focus::before {
	opacity: 0.24;
}

/* Active */
button.R4:active:not(.flat):not([disabled]) {
	box-shadow: 0 1px 5px -3px #E1E1E1
}

button.R4:active::after {
	opacity: 0.32;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0s;
}

/* Disabled */
button.R4:disabled {
	color: rgba(0, 0, 0, 0.38);
	background-color: rgba(0, 0, 0, 0.12) !important;
	box-shadow: none;
	cursor: initial;
}

button.R4:disabled::before {
	opacity: 0;
}

button.R4:disabled::after {
	opacity: 0;
}