.R4Fields {
	position: relative;
	margin-top: 10px;
	line-height: 0;
}

.R4Fields:not(.switch):not(.tags) > input,
.R4Fields > textarea,
.R4Fields > select,
.R4Fields.tags {
	font-size: 18px;
	padding: 4px 3px 6px 5px;
	margin-top: 10px;
	width: 100%;
	border: none;
	border-bottom: 1px solid #dedede;
	box-sizing: border-box;
	background-color: inherit;
	color: #555;
}

.R4Fields > select {
	padding: 2px 0;
}

.R4Fields:not(.switch):not(.tags) > input:disabled,
.R4Fields > textarea:disabled,
.R4Fields > select:disabled {
	background-color: lightgray;
}

.R4Fields:not(.switch):not(.tags) > input:focus,
.R4Fields > textarea:focus,
.R4Fields > select:focus {
	outline: none;
	background-color: #fffdeb;
	border-bottom: 1px solid #337ab7;
}

.R4Fields.errField:not(.switch):not(.tags) > input,
.R4Fields.errField > textarea,
.R4Fields.errField > select {
	border-bottom: 1px solid red;
}

.R4Fields.errField:not(.switch):not(.tags) > input:focus,
.R4Fields.errField > textarea:focus,
.R4Fields.errField > select:focus {
	outline: none;
	border-bottom: 1px solid red;
}

/*LABEL ======================================= */
.R4Fields:not(.switch) > label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.1s ease all;
	-o-transition: 0.1s ease all;
	-moz-transition: 0.1s ease all;
	white-space: nowrap;
	overflow: hidden;
}

.R4Fields:not(.switch) > input:focus ~ label,
.R4Fields > textarea:focus ~ label,
.R4Fields > select:focus ~ label,
.R4Fields > input:-webkit-autofill ~ label,
.R4Fields.withContent > label {
	top: -13px;
	font-size: 14px;
	color: #337ab7;
}

.R4Fields.errField:not(.switch) > input:focus ~ label,
.R4Fields.errField > textarea:focus ~ label,
.R4Fields.errField > select:focus ~ label,
.R4Fields.errField > input:-webkit-autofill ~ label,
.R4Fields.errField.withContent > label {
	color: red;
}


/* DATE PICKER ================================= */

.R4FieldsDtPicker .selDay {
	border: 1px solid blue;
	border-radius: 2px;
}


.R4FieldsDtPicker button,
.R4FieldsDtPicker select {
	color: #333;
	background-color: white;
	height: 25px;
	border: 1px solid grey;
	border-radius: 2px;
}

/* PASSWORD EYE ================================= */
.R4Fields > .passEye {
	margin-left: -30px;
	cursor: pointer;
	position: relative;
}


/* TAGS ================================= */

.R4Fields.tags {
	display: flex;
	padding: 0;
	flex-wrap: wrap;
}

.R4Fields > .tagList {
	padding-top: 5px;
}

.R4Fields > .tagList > .tagItem {
	padding: 3px 3px;
	margin-left: 5px;
	display: inline-block;

}

.R4Fields > .tagList > .tagItem > .closer {
	cursor: pointer;
	position: relative;
	float: right;
	top: -8px;
	font-size: 13px;
	font-weight: bold;
	color: yellow;
}

.R4Fields.tags > input {
	flex-grow: 1;
	width: 20px;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	border: none;
	box-sizing: border-box;
	background-color: inherit;
}

.R4Fields.tags > input:focus {
	outline: none;
}

.R4TypeAheadList {
	z-index: 9999;
	position: fixed;
	margin-top: 40px;
	background: white;
	width: 100%;
	max-width: 300px;
	max-height: 500px;
	overflow: auto;
}

.R4TypeAheadList > ul {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.R4TypeAheadList > ul > li {
	cursor: pointer;
	padding: 5px;
	min-height: 45px;
	border-bottom: 1px solid #f1f3f4;
}

.R4TypeAheadList > ul > li.marked {
	background-color: #F1F164;
}

.R4TypeAheadList > ul > li > .itemExtra {
	color: gray;
	font-size: 12px;
}


/* BOTTOM BARS ================================= */
.R4Fields > .bar {
	position: relative;
	display: block;
	width: 100%;
}
.R4Fields > .bar:before,
.R4Fields > .bar:after {
	content: '';
	height: 1px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #337ab7;
	transition: 0.2s ease all;
}
.R4Fields.tags > .bar:before,
.R4Fields.tags > .bar:after {
	bottom: 0px;
}
.R4Fields > .bar:before {
	left: 50%;
}
.R4Fields > .bar:after {
	right: 50%;
}
.R4Fields > input:focus ~ .bar:before,
.R4Fields > input:focus ~ .bar:after,
.R4Fields > textarea:focus ~ .bar:before,
.R4Fields > textarea:focus ~ .bar:after,
.R4Fields > select:focus ~ .bar:before,
.R4Fields > select:focus ~ .bar:after {
	width: 50%;
}

/* SWITCH ================================= */
.R4Fields.switch {
	font-size: 14px;
/*
	display: inline-block;
	position: relative;
	font-size: 16px;
	line-height: 24px;
*/
}
.R4Fields.switch > input {
	position: absolute;
	opacity: 0;
	z-index: 0;
}
.R4Fields.switch > label {
	display: block;
	padding: 9px 0 0 44px;
	cursor: pointer;
}
.R4Fields.switch > label:before {
	content: '';
	position: absolute;
	top: 13px;
	left: 0;
	width: 36px;
	height: 14px;
	background-color: rgba(0, 0, 0, 0.26);
	border-radius: 14px;
	z-index: 1;
	transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
.R4Fields.switch > label:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 14px;
	box-shadow:
		0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.2),
		0 1px 5px 0 rgba(0, 0, 0, 0.12);
	z-index: 2;
	transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: left, background-color;
}
.R4Fields.switch > input:checked + label {
	color: #337ab7;
}
.R4Fields.switch > input:checked + label:before {
	background-color: rgba(63, 81, 181, 0.5);
}
.R4Fields.switch > input:checked + label:after {
	left: 16px;
	background-color: #337ab7;
}

fieldset.R4,
fieldset.R4Fields {
	border-radius: 5px;
	border: 1px solid #999;
}

fieldset.R4 > legend,
fieldset.R4Fields > legend {
	padding: 0 5px;
	border-radius: 3px;
	font-weight: bold;
	margin-bottom: 0;
}