table.R4 {
	width: 100%;
}

table.R4 > thead > tr > th {
	padding: 15px 5px;
	text-align: left;
}

table.R4.compact > thead > tr > th {
	padding: 4px 2px;
}

table.R4 > tbody > tr > td,
table.R4 > tfoot > tr > td {
	padding: 5px 5px;
	text-align: left;
}

table.R4.compact > tbody > tr > td {
	padding: 1px 2px;
}

table.R4.striped > tbody > tr:nth-child(even) {
  background-color: #eaeaea;
}

table.R4 th.right, table.R4 td.right {
	text-align: right;
}

table.R4 th.center, table.R4 td.center {
	text-align: center;
}

table.R4 > thead > tr > th > span[orderBy] {
	cursor: pointer;
}

table.R4 > tbody > tr.R4SelRow {
	background-color: #90EE90 !important;
}

table.R4 > tbody > tr > td.nonClickCol {
	cursor: default;
}

table.R4 > tbody > tr:hover,
table.R4.striped > tbody > tr:hover {
	background-color:: #f0e68c !important;
}

.R4TablePgntn {
	margin: 0 !important;
}

.R4FooterDescr {
	margin-top: 20px;
	text-align: center;
	font-size: 0.6rem;
}