#R4WarningContainer {
	position: fixed;
	z-index: 9999;
	background: transparent;
	width: 100%;
	pointer-events: none;
}

.R4Warning {
	position: relative;
	text-align: center;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	margin: 20px auto;
	width: 400px;
	max-width: 100%;
	pointer-events: auto;
}

.R4WarningMsg {
	color: white;
	font-weight: bold;
	background: transparent;
	padding: 10px;
}

.R4WarningObs {
	color: #fafafa;
	background: transparent;
	padding: 0 10px 10px 10px;
}

.R4WarningCloser {
	cursor: pointer;
	background: transparent;
	color: white;
	padding: 10px;
}