<form id="formVendas" class="hidden" fieldsPrefix="vendas">
	<button class="R4" type="button" onclick="Vendas.detalharProd1()">Detalhar produto 1</button>
	<div class="row">
		<div class="col-3">
			<div class="col-12" id="vendas_codProduto">Nome do produto</div>
			<div class="col-6" id="vendas_valor">Valor unitário</div>
			<div class="col-6" id="vendas_quant">Quantidade</div>
			<div class="col-6" id="vendas_desc">Desconto</div>
			<div class="col-6" id="vendas_vTotal">Valor total</div>
			<div class="col-12" id="vendas_boxInfoProd">

			</div>
		</div>

		<div class="col-9">
			<div class="row">
				<div class="col-3" id="vendas_codCliente">Nome do cliente</div>
				<div class="col-3" id="vendas_dtVenda">Data da venda</div>
				<div class="col-3" id="vendas_tags">Marcadores</div>
				<div class="col-3" id="vendas_situacao">Situação</div>
			</div>

			<div class="row">
				<div class="col-12" id="vendas_carrinho"></div>
			</div>
		</div>
	</div>
</form>