footer {
	color: gray;
	font-size: 10px;
	text-align: center;
}


header#innerHead {
	height: 110px;
}

header#innerHead > #backBar {
	width: 100vw;
	height: 60px;
	position: absolute;
}

header#innerHead > #boxLogoCli {
	position: absolute;
	width: 60px;
	height: 60px;
	border: 5px solid white;
	top: 10px;
	left: 10px;
	padding: 10px;
	color: white;
	text-align: center;
	line-height: 20px;
}

header#innerHead > #backBar > #boxLogoCC {
	padding: 12px 10px 0 0;
}