<!--R4TEMPLATE-head-->
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="pt-br">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Description" content="">
<meta name="theme-color" content="#2196f3"/>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="manifest" href="manifest.json">
<link rel="shortcut icon" href="_assets/icons/favicon.ico">
<link rel="apple-touch-icon" href="_assets/icons/icon-192x192.png">
<!--/R4TEMPLATE-->


<!--R4TEMPLATE-loading-->
<style>
	.loadOverlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: lightgray;
		color: black;
		text-align: center;
		padding: 200px 0;
		z-index: 9999;
		font-family: monospace;
		font-size: 11px
	}
</style>
<div class="loadOverlay hidden">
	&#8635; Carregando...
</div>
<!--/R4TEMPLATE-->


<!--R4TEMPLATE-innerHead-->
<header id="innerHead">
	<div id="backBar" class="bgPrimary">
		<div id="boxLogoCC" class="onRight">
			<img src="_assets/icons/icon-32x32.png">
		</div>
	</div>
	<div id="boxLogoCli" class="bgGrey" >
		Sua<br>marca<br>aqui
	</div>
</header>
<!--/R4TEMPLATE-->


<!--R4TEMPLATE-endBody-->
<link rel="stylesheet" type="text/css" href="_assets/r4/r4.min.css" />
<script defer src="_assets/r4/r4.min.js"></script>
<!--/R4TEMPLATE-->