<form id="formUsuarios" fieldsPrefix="prod" title="Cadastro de usuรกrios">
	<div class="row">
		<div class="col-12" id="usu_nome">Nome</div>
		<div class="col-6"  id="usu_fones">Telefones</div>
		<div class="col-6"  id="usu_emails">Emails</div>
		<div class="col-12" id="usu_tags">Tags</div>
	</div>
	<div id="usuBoxAcesso" class="row">
		<h3>
			Forma de acesso:
		</h3>
		<div class="col-4">
			E-mail:
		</div>
		<div class="col-4">
			Facebook:
		</div>
		<div class="col-4">
			Google:
		</div>
		
	</div>
</form>